body {
    background-color: #A78B71;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    text-align: center;
    color: #F7C815;
    display: inline;
}


.links {
    color: #F7C815;
    font-size: large;
    text-align: center;
}

a {
    color: #583E26;
}

a:visited {
    color: #F7C815;
}

a:hover {
    color: #F7C815;
}

a:active {
    color: #583E26;
}